body{
  margin:0;
  font-family:Poppins, sans-serif;
  background:#000;
  color:white;
}

.slide{
  display:none;
  height:100vh;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  text-align:center;
  padding:20px;
  animation:fadeIn 0.8s ease;
}

img{
  max-width:90%;
  max-height:60vh;
  margin:10px;
  border-radius:12px;
}

/* animations */
.fade{animation:fadeIn 2s ease;}
.pulse{animation:pulse 2s infinite;}

.zoom{
  animation:zoom 8s infinite alternate;
}

@keyframes fadeIn{
  from{opacity:0; transform:translateY(20px);}
  to{opacity:1; transform:translateY(0);}
}

@keyframes zoom{
  from{transform:scale(1);}
  to{transform:scale(1.1);}
}

@keyframes pulse{
  0%{transform:scale(1);}
  50%{transform:scale(1.05);}
  100%{transform:scale(1);}
}

.gallery{
  display:flex;
  overflow-x:auto;
  gap:15px;
  width:100%;
  padding:20px;
}

.gallery img{
  height:220px;
}

button{
  padding:14px 28px;
  border:none;
  border-radius:30px;
  background:#ff4d6d;
  color:white;
  font-size:16px;
  margin-top:20px;
}

.buttons{display:flex;gap:20px;}

.no{
  position:relative;
  transition:all 0.3s ease;
}


.hint{
  font-size:14px;
  opacity:0.7;
}

.letter{
  max-width:600px;
  line-height:1.6;
}

.gallery{
  display:flex;
  overflow-x:auto;
  gap:15px;
  width:100%;
  padding:20px;
  justify-content:center;   /* ADD THIS */
}

.kiss{width:220px;}
